@charset "utf-8";

/* 메인 비주얼 */
.main_visual{position:relative;width:100%;}
.main_visual .main_visual_img{position:relative;width:100%;}

/* 소개 */
.main_intro{padding:var(--size100) 0;text-align:center;}
.main_intro .con_title{font-size:var(--size34);font-weight:700;}
.main_intro .con_title span{color:#5f89c6;}
.main_intro .con_desc{font-size:var(--size20);font-weight:600;}
.main_intro .intro_content p:nth-of-type(1){font-size:var(--size20);font-weight:600;margin-bottom:var(--size14);}
.main_intro .intro_content p:nth-of-type(2){font-size:var(--size16);line-height:1.8;}

.main_intro .intro_card{display:flex;flex-wrap:wrap;justify-content:center;margin:var(--size50) 0 var(--size36);}
.main_intro .intro_card li{width:28%;margin:0 var(--size10);}

/* 프로그램 */
.main_program{margin-bottom:var(--size160);}
.main_program .con_title{font-size:var(--size50);font-weight:700;color:#cf6116;text-align:center;margin-bottom:var(--size70);}

/* cpst */
.main_cpst{margin-bottom:var(--size70);}
.main_cpst .con_title{font-size:var(--size34);font-weight:700;text-align:center;}
.main_cpst .con_title span{color:#5f89c6;}
.main_cpst .con_desc{color:#cf6116;text-align:center;margin:var(--size30) 0;}
.main_cpst .cpst_card{position:relative;background:#f5f5f5;padding:var(--size50) var(--size100);}
.main_cpst .cpst_card > h3{font-size:var(--size50);font-weight:800;color:#000;}
.main_cpst .cpst_card > p{font-size:var(--size22);font-weight:700;color:#000;margin:var(--size20) 0 var(--size60);}
.main_cpst .cpst_card > span{display:block;margin-bottom:var(--size30);}
.main_cpst .cpst_card > ul li{position:relative;padding:0.2rem 0 0 0.6rem;}
.main_cpst .cpst_card > ul li:before{content:'';position:absolute;top:12px;left:0;width:3px;height:3px;background:#222;border-radius:100px;}
.main_cpst .cpst_card > a{position:absolute;bottom:var(--size50);right:var(--size100);display:inline-block;padding:0.4rem 3rem;}
.main_cpst .cpst_card > a::before{content:'';position:absolute;background:url('../../images/main/icon_view.jpg') no-repeat;width:100px;height:50px;top:0.4rem;left:1rem;}

/* Power Think */
.main_think{background:#eee;padding:var(--size80) 0;}
.main_think .con_title{font-size:var(--size70);font-weight:700;text-align:center;margin-bottom:var(--size70);}
.main_think .think_card{display:flex;flex-wrap:wrap;justify-content:space-between;}
.main_think .think_card li{display:flex;flex-wrap:wrap;align-items:center;align-content:center;justify-content: center;text-align:center;width:47.5%;background:#fff;margin-bottom:var(--size50);padding:var(--size50);font-size:var(--size28);border-radius:1rem;box-shadow:0.2rem 0.5rem 1rem rgba(0,0,0,0.2);}
.main_think .think_card li > h3{color:#c4004f;font-weight:600;margin-bottom:var(--size8);}
.main_think .think_card li > h3 span{color:#0068b3;}

/* 성장 Plan */
.main_plan{margin-top:var(--size110);background:#f3d346;}
.main_plan .con_title{font-size:var(--size34);font-weight:700;text-align:center;margin-bottom:var(--size20);}
.main_plan .inner{padding:var(--size70) var(--size20);}
.main_plan .plan_card1{display:flex;flex-wrap:wrap;justify-content:space-between;}
.main_plan .plan_card1 li{display:flex;flex-wrap:wrap;align-items:center;width:32%;background:#fff;font-size:var(--size25);text-align:center;border-radius:1rem;padding:var(--size50);}
.main_plan .plan_card2{background:#fff;font-size:var(--size25);border-radius:1rem;padding:var(--size50) var(--size70);margin-top:var(--size30);}
.main_plan .plan_card2 span{color:#0068b3;}
.main_plan .plan_card2 strong{color:#cf6876;}


/* 반응형 */
@media all and (max-width: 1918.98px) {

}

@media all and (max-width: 1599.98px) {
  
}

@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {

}

@media screen and (max-width: 991.98px) {

}

/* 모바일 */
@media screen and (max-width: 767.98px) {
  .main_cpst .cpst_card{padding:var(--size30) var(--size40);}
  .main_cpst .cpst_card > a{bottom:var(--size30);right:var(--size40);}
}

@media all and (max-width: 575.98px) {
  .main_intro{padding:var(--size60) 0;}
  .main_intro .con_title{font-size:var(--size26);}
  .main_intro .intro_card{display:flex;flex-wrap:wrap;justify-content:center;margin:var(--size30) 0 0;}
  .main_intro .intro_card li{width:68%;margin:0 0 var(--size30);}

  .main_program .con_title{font-size:var(--size32);margin-bottom:var(--size30);}
  .main_program{margin-bottom:var(--size80);}

  .main_cpst .con_title{font-size:var(--size26);}
  .main_cpst .cpst_card > h3{font-size:var(--size34);}
  .main_cpst .cpst_card > p{margin:var(--size10) 0 var(--size30);}
  .main_cpst .cpst_card > span{margin-bottom:var(--size20);}
  .main_cpst .cpst_card > a{position:relative;bottom:0;right:0;margin-top:var(--size20);}

  .main_think .con_title{font-size:var(--size50);margin-bottom:var(--size40);}
  .main_think .think_card li{width:100%;padding:var(--size40);margin-bottom:var(--size20);font-size:var(--size20);}

  .main_plan{margin-top:0;}
  .main_plan .con_title{padding:var(--size50) 0 0;}
  .main_plan .plan_card1 li{width:100%;margin-bottom:var(--size20);padding:var(--size30);font-size:var(--size20);}
  .main_plan .plan_card2{padding:var(--size30);margin-top:0;font-size:var(--size20);}
  .main_plan .plan_card2 br{display:inline-block;}
}

@media all and (max-width: 478.98px) {
 
}

@media all and (max-width: 358.98px) {

}
